@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="fundo mb-0">
    <div class="flex-column m-4 p-5">
        <h4 style="color: #FF5E1F; font-weight: bolder;" class="mb-3 mr-3 mt-4">Voltar a documentação</h4>
        <a asp-controller="Document" asp-action="Document" style="background-color: #FF5E1F; color: #FFFDF1; border-color:none;" class="btn btn-send mr-4">click</a>
    </div>
</div>

<main class="document">
    <section class="p-4" id="doc">
        <div>
            <h3 class=" d-flex justify-content-start m-3">
                PROCEDIMIENTO DE LA SOLICITACIÓN DE ASILO
            </h3>

            <h3 class=" d-flex justify-content-start text-align-center m-3"> Para registrar su solicitación de asilo</h3>

            <p class="m-3 p-3">
                Llenar un <b>TERMO DE SOLICITACIÓN DE ASILO</b> en cualquier unidad de la Policía Federal;
</p>
            <p class="m-3 p-3">
                Informar una <b>DIRECCIÓN (donde usted vive o puede ser encontrado), TELÉFONO y EMAIL</b> para contacto.
            </p>
        </div>
        <div>
            <p class="m-3 p-3">
                Es muy importante que usted mantenga sus contactos actualizados en la Policía Federal y en el <b>CONARE</b>,<br/>
                para que usted pueda recibir todas las comunicaciones o notificaciones que sean necesarias.<br/> En caso de cambio, informe el <b>CONARE</b> a través del
                correo conare@mj.gov.br.
            </p>
            <br />
            <br />
            <h4 class=" d-flex justify-content-start m-3">
                Es importante saber que:
            </h4>
            <p class="m-2 p-2">
                Para que el protocolo provisional siga siendo válido y pueda usted seguir trabajando de manera regular, es necesario renovarlo en la Policía Federal a cada 1 año.<br/>
                Los solicitantes que no renovaren el protocolo en el plazo están sujetos al archivo de su solicitud de asilo. <br/>
                Haga atención a la fecha de renovación anotada en su protocolo, y comparezca en la Policía Federal antes de la fecha de vencimiento.
            </p>
            <div class="d-lg-flex d-sm-none justify-content-end align-items-end">
                <img class="d-flex align-items-end justify-content-end w-25 h-25" src="~/img/Ativo 2.svg" />
            </div>
        </div>
    </section>
    <section>
        <h3 class=" d-flex justify-content-start m-4">
            Después de registrar su solicitación en la Policía Federal
        </h3>
        <div>
            <p class="m-3 p-3">
                Recibirá un <b>PROTOCOLO PROVISIONAL</b>, válido por 1 año y renovable hasta la decisión final del <b>CONARE</b> sobre su pedido de refugio.<br />
                refugio. Este protocolo será su <b>DOCUMENTO DE IDENTIDAD</b> en Brasil.<br />
                Brasil. Él sirve de prueba

                de su situación migratoria regular y de que usted está protegido y no puede ser devuelto para un país donde su vida esté en riesgo.<br />
                Con este protocolo usted tendrá derecho a <b>CARTERA DE TRABAJO (CTPS)</b> y <b>REGISTRO DE PERSONA FÍSICA (CPF)</b> <br />y acceder a todos los servicios públicos disponibles en Brasil.
            </p>
        </div>
        <div>
            <p class="m-3 p-3">
                Tendrá el derecho a ser entrevistado EN PERSONA por un funcionario del <b>CONARE</b> <br/> o de la Defensoría Pública de la Unión, del sexo que usted preferir, que le preguntará en detalles los motivos que llevaran a su decisión de dejar su país.<br/> La entrevista será realizada en un idioma que <b>USTED</b> comprenda y, si necesario, usted tiene <b>DERECHO A UN INTÉRPRETE</b>.
            </p>
        </div>
        <div>
            <h4 class=" m-3 d-flex justify-content-start"> Qué es el CPF y quien puede solicitarlo?
            </h4>
            <p class="m-2 p-2">
                El CPF (Cadastro de Pessoa Física) es uno de los principales documentos para ciudadanos residentes en Brasil,porque permite el acceso a facilidades y servicios.<br/>
                Como el Sistema Público de Salud (SUS), el registro en instituciones públicas de educación, la apertura de cuentas bancarias y otras operaciones financieras.
            </p>
        </div>
        <div>
            <h4 class=" m-3 d-flex justify-content-start">
                Cuáles son los documentos necesarios para solicitar el CPF?
            </h4>
            <p class="m-2 p-2">
                Los mayores de 18 años deberán presentar el original o la copia autenticada de su documento de identificación.
            </p>
            <p class="m-2 p-2">
                Los
                menores de 18 años deberán presentar el original o la copia autenticada de su documento de identificación <br />
                y el documento de identificación de uno de los padres o responsable.
            </p>
        </div>

    </section>
    <section id="job">
        <h3 class="m-4 pt-3 d-flex justify-content-start">
            Si su pedido de asilo fue negado
        </h3>

        <div>
            <p class="m-3 p-3">
                Presentar un RECURSO PARA EL Ministro dE La JustiCIa
                en el plazo de <b>15 DÍAS</b> contados a partir del recibimiento de la notificación.<br/>
                El pedido de revisión de la decisión del <b>CONARE</b> debe ser fundamentado, o sea, debe indicar y explicar en detalles las razones por las cuales usted no está de acuerdo con la decisión <br/>
                y si el problema de la decisión está en la interpretación de los hechos o aplicación de las reglas al caso.
            </p>
            <p class="m-3 p-3">
                Puede usted ser ASISTIDO POR UN ABOGADO de la Defensoría Pública de la Unión o de las organizaciones socias del ACNUR en el momento de hacer su RECURSO. <br/>
                Para tanto, deberá usted buscar una de estas organizaciones tan pronto cuanto reciba la notificación sobre la decisión <br/>
                porque el recurso debe ser entregue a la Policía Federal en el plazo máximo de 15 días del recibimiento de la notificación;
            </p>
            <p class="m-3 p-3">
                Caso la <b>la DECISIÓN DEL MINISTRO DE LA JUSTICIA</b> JUSTICIA también
                resulte negativa, significa que el proceso administrativo de refugio ha terminado <br />y que usted estará sujeto a la ley de extranjeros vigente en Brasil.<br />
                En este caso, debe usted buscar la Defensoría Pública de la Unión para obtener las orientaciones sobre las medidas adecuadas.
            </p>
        </div>
    </section>
    <section id="map">
        <h3 class=" d-flex justify-content-start m-3">
            Qué es CTPS e quién puede solicitarla?
        </h3>

        <h4 class=" d-flex justify-content-start m-3">O que é a CTPS e quem pode solicitá-la?</h4>
        <p class="m-2 p-2">
            La Cartera de Trabajo y Seguridad Social (CTPS) es el documento que comprueba toda la vida laboral del trabajador y autoriza a las empresas a contratarle como empleado.<br />
            empleado. Este documento es obligatorio para el ejercicio de actividades profesionales <br />
            y puede ser solicitado por cualquier persona mayor de 14 años, nacional o extranjera, con residencia regular en Brasil.
        </p>
        <h4 class=" d-flex justify-content-start m-3">Dónde puedo solicitar la CTPS?</h4>
        <p class="m-2 p-2">
            La persona interesada en sacar o renovar la Cartera
            de Trabajo y Seguridad Social deberá dirigirse a la Superintendencia Regional del Trabajo y Empleo (SRTE) <br />
           o a la Gerencia Regional más cercana a su residencia, portando todos los documentos necesarios. 
            <br/>Informaciones sobre la ubicación de los puestos de atendimiento pueden ser encontradas por teléfono 158 o en la Central de Atendimiento “Alô Trabalho”.
          
            <h4 class=" d-flex justify-content-start m-3">
                Cuáles los documentos necesarios para la CTPS?
            </h4>
            <ul>
                <li class="m-2 p-2">
                    Dos fotos 3cmx4cm, con fondo blanco, coloridas o en blanco y negro, iguales y recientes;
                </li>
                <li class="m-2 p-2">
                    Protocolo Provisional emitido por la Policía Federal original con copia;
                </li>
            </ul>

</section>

</main>
