@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="fundo mb-0">
    <div class="flex-column m-4 p-5">
        <h4 style="color:#FFFDF1; font-weight:bolder;" class="mb-3 mr-3 mt-4">Leer en espanõl</h4>
        <a asp-controller="Document" asp-action="Duvidas" style="background-color: #FF5E1F; color: #FFFDF1; border-color:none;" class="btn btn-send mr-4">click</a>
    </div>
</div>
<main class="document ">
    <section class="mt-0 p-4" id="doc">
        <div>

            <h3 class="m-3 d-flex justify-content-start">DÚVIDAS FREQUENTES</h3>
            <h4 class="m-3 d-flex justify-content-start"> Quero me tornar solicitante de refúgio</h4>
            <h5 class="m-2 d-flex justify-content-start">1)Não tenho documento algum. Posso solicitar o refúgio?</h5>
            <p class="m-2 p-2">
                Sim. A ausência de documentos não impede a apresentação e o recebimento da solicitação reconhecimento<br />
                da condição de refugiado. No entanto, se tornará mais complexa a análise do pedido.
            </p>

            <h5 class="m-2 d-flex justify-content-start">2)Preciso agendar o atendimento na Polícia Federal?</h5>
            <p class="m-2 p-2">
                Cada Polícia Federal possui regras próprias de atendimento. Assim, o ideal é contatar o Departamento de polícia federal mais próximo<br />
                e consultar sobre a necessidade de agendamento.
            </p>


            <h5 class="m-3 d-flex justify-content-start">
                3)Tenho mais de um documento de identificação.
                <br />Qual devo apresentar ao fazer a solicitação de reconhecimento da condição de refugiado?
            </h5>
            <p class="m-2 p-2">
                Sempre que você tiver o passaporte, utilize-o para solicitar refúgio.<br />

                Se o passaporte não tiver os dados de filiação, então você pode utilizar os documentos abaixo, na seguinte ordem:
                <ul>
                    <li> certidão de nascimento;</li>
                    <li> certidão de casamento;</li>
                    <li>
                        certidão consular do país de nacionalidade; ou
                        justificação judicial.
                    </li>
                </ul>
                Caso tenha dúvidas, consulte o artigo 68 do Decreto nº 9.199/1997.

            </p>
            <div class="d-lg-flex d-sm-none justify-content-end align-items-end">
                <img class="d-flex align-items-end justify-content-end w-25 h-25" src="~/img/Ativo 2.svg" />
            </div>

        </div>
    </section>
    <section>
        <h4 class="m-3 d-flex justify-content-start">Sou solicitante do refúgio. E agora?</h4>
        <h5 class="m-3 d-flex justify-content-start">1)O que é o Protocolo de Refúgio? Qual sua validade e como renová-lo?</h5>
        <p class="m-2 p-2">
            Como solicitante de reconhecimento da condição de refugiado, o imigrante possui o Protocolo 
            <br/>de Refúgio, que serve como identidade e atesta sua condição migratória regular no país, desde que dentro da validade. <br/>

            Portanto, é fundamental que este Protocolo esteja dentro da validade enquanto estiver em trâmite o processo de solicitação de reconhecimento da condição de refugiado.
            <br/> O Protocolo possui validade de um ano e deverá ser renovado em qualquer unidade da Polícia Federal.<br/> 
            Em outras palavras: o Protocolo de Refúgio deverá ser renovado a cada ano enquanto o processo estiver em análise pelo Comitê Nacional para os Refugiados (Conare).
            <br/>
            Para renovar seu protocolo, verifique qual é a sua situação:

            <br/>a) se o seu Protocolo de Refúgio ainda não é do Sisconare, você precisa se registrar no Sisconare e preencher o formulário de recadastro.
            <br/> Ao final, será gerado um número de controle que você deverá apresentar em uma unidade da Polícia Federal (PF) para finalizar a renovação.

           <br/> b) se o seu Protocolo de Refúgio já é do Sisconare, basta comparecer à Polícia Federal para renová-lo (verifique a necessidade de agendamento na Polícia Federal).

        </p>


        <h5 class="m-3 d-flex justify-content-start">2)Como faço para obter o Documento Provisório de Registro Nacional Migratório (DPRNM), previsto no Decreto nº 9.277/2018?</h5>
        <p class="m-2 p-2">
            O Documento Provisório de Registro Nacional Migratório (DPRNM) será processado pela Polícia Federal no momento em que o solicitante pedir refúgio pela primeira vez<br/>
            ou no momento em que for renovar o Protocolo de Refúgio.
            <br/>
            Ou seja: o solicitante não precisa adotar nenhuma medida adicional: caso queira pedir refúgio pela primeira vez, deverá cadastrar-se no Sisconare<br/> 
            e preencher o formulário de solicitação de reconhecimento da condição de refugiado;<br/>
            caso já seja solicitante, deverá seguir as orientações de renovação de acordo com o seu caso (realizar recadastro ou apenas agendar atendimento na Polícia Federal).

           </p>


        <h5 class="m-3 d-flex justify-content-start">3)Qual a diferença entre o Protocolo de Refúgio e o Documento Provisório de Registro Nacional Migratório (DPRNM)?</h5>
        <p class="m-2 p-2">
            O Protocolo de Refúgio é o documento que o solicitante recebe imediatamente ao pedir o reconhecimento da condição de refugiado <br/>
            e será utilizado como documento de identidade até o recebimento do Documento Provisório de Registro Nacional Migratório (DPRNM).

            <br/>O DPRNM, previsto no Decreto nº 9.277/2018, passou a ser o documento de identificação de solicitantes de refúgio, em substituição do Protocolo de Refúgio.

           <br/> LEMBRE-SE: o DPRNM possui validade de um ano, e deve ser renovado anualmente na Polícia Federal.
        </p>

    </section>
    <section id="job">
        <h4 class="m-3 d-flex justify-content-start">Entrevistas de Elegibilidade</h4>
        <h5 class="m-3 d-flex justify-content-start">1) Posso escolher o modo de realização da entrevista (presencial ou online)?</h5>
        <p class="m-2 p-2">
            Não, a decisão sobre o modo de realização de entrevista é da Coordenação-Geral do Conare.<br/> 
            No entanto, essa decisão é baseada nos dados de contato do solicitante – em especial, no endereço do solicitante.<br/> 
            Assim, é muito importante assegurar que seus dados estejam sempre atualizados.

           <br/> Para atualizar seus dados de contato no Sisconare, acesse o sistema e, após realizar o login, selecione a opção “Atualizar meus dados”.
        </p>


        <h5 class="m-3 d-flex justify-content-start">2) Posso escolher o local de realização da entrevista?</h5>
        <p class="m-2 p-2">
            Não, a decisão sobre o local de realização de entrevista é da Coordenação-Geral do Conare.
            <br/> No entanto, essa decisão é baseada nos dados de contato do solicitante – em especial, no endereço do solicitante.
            <br/>Assim, é muito importante assegurar que seus dados estejam sempre atualizados.

           <br/> Para atualizar seus dados de contato no Sisconare, acesse o sistema e, após realizar o login, selecione a opção “Atualizar meus dados”.
        </p>


        <h5 class="m-3 d-flex justify-content-start">3) Caso minha entrevista esteja demorando muito, como posso solicitar mais urgência?</h5>
        <p class="m-2 p-2">
            As entrevistas seguem, em regra, ordem cronológica; no entanto, um dos critérios de priorização é a manutenção de dados cadastrais atualizados. <br/>
            Assegure-se, dessa forma, que os seus dados estão sempre atualizados. <br/>
            Caso haja mudança de telefone, de e-mail ou de endereço, atualize seus dados no Sisconare, no menu "Atualizar Meus Dados".<br/>
            Lembre-se de que, enquanto o seu pedido de refúgio está em análise, a sua situação migratória no Brasil está regular <br/> 
            pois você possui autorização provisória de residência até a decisão final do Conare (art. 156, §3º, do Decreto nº 9.199/2017 e art. 21 da Lei nº 9.474, de 1997).
        </p>


    </section>
    <section id="map">
        <h4 class="m-3 d-flex justify-content-start">Mercado de trabalho</h4>
        <h5 class="m-3 d-flex justify-content-start">1)Como obter acesso a Carteira de Trabalho Digital?</h5>
        <p class="m-2 p-2">
            A Carteira de Trabalho Digital pode ser acessada pelo computador ou ser instalada em Smartphones <br/> com sistema operacional Android e iOS e funcionará como uma extensão do documento físico.<br/>
            Veja no site do Ministério da Economia as orientações sobre como acessar a Carteira de Trabalho Digital.
        </p>


        <h5 class="m-3 d-flex justify-content-start">2) Sou empregador e quero contratar formalmente um solicitante de reconhecimento da condição de refugiado.</h5>
        <p class="m-2 p-2">
            Solicitantes de reconhecimento da condição de refugiado estão em condição migratória regular no Brasil e, dessa forma, podem ser contratados formalmente.<br />
            O amparo legal de tal autorização está na Lei nº 9.474, de 22 de julho de 1997. <br />
            
        </p>
    </section>

</main>

