<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body style="background: #3F3C37; ">
    <header>
        <nav style="background: #201f1c; " class="navbar navbar-expand-sm navbar-toggleable-sm border-none box-shadow fixed-top">
            <div class="container">
                <div class="d-flex justify-content-start w-25 h-25">
                    <img  src="~/img/Ativo 1.svg" />
                </div>
                <button style="background: #FF5E1F; color:#FFFDF1 " class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex  justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li style=" color: #FFFDF1;" class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Aboutus">About us</a>
                        </li>
                        <li>
                            <a class="nav-link dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Doc" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Documentation
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Document" asp-action="Document">Documentação</a>
                                <a class="dropdown-item" asp-controller="Document" asp-action="Job">Dúvidas frequentes</a>
                                <a class="dropdown-item" asp-controller="Tradutors" asp-action="Index">Tradutores</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Document" asp-action="Map">Onde tirar</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Usuarios" asp-action="Create">Sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <div>

    </div>
    <footer class=" footer text-center">
        <a asp-area="" asp-controller="" asp-action="">Contatos</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
