
<h1>@ViewData["Title"]</h1>
<head>
    <link rel="stylesheet" href="/css/site.css" />
</head>
<div class="fundo">
    <div class="flex-column m-5 p-3">
        <h3 class="mt-5" style="color: #FF5E1F; font-weight: bolder; ">Ajude na quebra de barreira linguística</h3>
        <a class="btn btn-send" style="background:#FF5E1F; color:#fff1d1" asp-controller="Tradutors" asp-action="Create">Clique aqui</a>
    </div>
</div>
<section style="background:#FF5E1F;">
    <div class="d-block justify-content-lg-start d-md-none">
        <h3 class="front__text-header d-block">Para quem?</h3>
        <h4 class="d-block">Refugiados que não conseguem achar informações sobre como tirar a documentação no Brasil.</h4>
    </div>
    <div class="d-block justify-content-lg-start d-md-none">
        <h3 class="front__text-header d-block">Por quê?</h3>
        <h4>
            Por falta de informação para os refugiados acerca de documentação, como por exemplo, o pedido de refúgio. Muitos refugiados não sabem como ou onde tirar esses documentos.
            Para isso criamos o refúgio 57.
        </h4>
    </div>
    <div class="d-block justify-content-lg-start d-md-none">
        <h3 class="front__text-header d-block">Como?</h3>
        <h4>
            Refúgio 57 foi o site que criamos para que a desinformação ou a barreira linguística não seja um problema para os refugiados. O site conta com APIs do google para geolocalização e tradução,
            também conta com tradutores voluntários para melhor comunicação.
        </h4>
        <br />
        <br />
        <br />

    </div>
    <div class="pt-3 pb-3">
        <div class="d-flex  flex-row justify-content-between align-items-center mb-3">
            <div class="outer-div">
                <div class="inner-div">
                    <div class="front">
                        <div class="front__bkg-photo"></div>
                        <div class="front__face-photo"></div>
                        <div class="front__text">
                            <h3 class="front__text-header d-block">Para quem?</h3>

                            <span class="front__text-hover1">
                                Detalhes<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>

                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <h4 class="d-block">Refugiados que não conseguem achar informações sobre como tirar a documentação no Brasil.</h4>
                    </div>

                </div>
            </div>

            <div class="outer-div">
                <div class="inner-div">
                    <div class="front">
                        <div class="front__bkg-photo"></div>
                        <div class="front__face-photo"></div>
                        <div class="front__text">
                            <h3 class="front__text-header">Por quê?</h3>

                            <span class="front__text-hover">
                                Detalhes<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="back">
                        <h4>
                            Por falta de informação para os refugiados acerca de documentação, como por exemplo, o pedido de refúgio. Muitos refugiados não sabem como ou onde tirar esses documentos.
                            Para isso criamos o refúgio 57.
                        </h4>
                    </div>

                </div>
            </div>

            <div class="outer-div">
                <div class="inner-div">
                    <div class="front">
                        <div class="front__bkg-photo"></div>
                        <div class="front__face-photo"></div>
                        <div class="front__text">
                            <h3 class="front__text-header">Como?</h3>

                            <span class="front__text-hover">
                                Detalhes <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <div class="icon-wrapper">
                            <h6>
                                Refúgio 57 foi o site que criamos para que a desinformação ou a barreira linguística não seja um problema para os refugiados. O site conta com APIs do google para geolocalização e tradução,
                                também conta com tradutores voluntários para melhor comunicação.
                            </h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="d-none d-lg-block">
    <div class="pt-3 pb-3">
        <div class="d-flex  flex-row justify-content-between align-items-center mb-3">
            <div class="outer-div1">
                <div class="inner-div1">
                    <div class="front1">
                        <div class="front__bkg-photo1"></div>
                        <div class="front__face-photo1"></div>
                        <div class="front__text1">
                            <h3 class="front__text-header1">Julia Pinheiro</h3>
                            <p>front-end developer</p>

                            <span class="front__text-hover1">
                                Redes sociais<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>

                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <div class="social-media-wrapper d-flex flex-column">
                            <a href="https://www.linkedin.com/in/julia-pinheiro-992a59180/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                </svg>
                            </a>
                            <a href="https://github.com/juliapinheiro42">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="outer-div1">
                <div class="inner-div1">
                    <div class="front1">
                        <div class="front__bkg-photo1"></div>
                        <div class="front__face-photo2"></div>
                        <div class="front__text1">
                            <h3 class="front__text-header1">Lucas Cavalcante</h3>
                            <p>Back-end developer</p>

                            <span class="front__text-hover1">
                                Redes sociais<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <div class="social-media-wrapper">
                            <a href="https://github.com/LFC222">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="outer-div1">
                <div class="inner-div1">
                    <div class="front1">
                        <div class="front__bkg-photo1"></div>
                        <div class="front__face-photo3"></div>
                        <div class="front__text1">
                            <h3 class="front__text-header1">Rafaela Lopes</h3>
                            <p>Front-end developer</p>
                            <span class="front__text-hover1">
                                Redes sociais <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <div class="icon-wrapper">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="outer-div1">
                <div class="inner-div1">
                    <div class="front1">
                        <div class="front__bkg-photo1"></div>
                        <div class="front__face-photo4"></div>
                        <div class="front__text1">
                            <h3 class="front__text-header1">Alice Danyelle</h3>
                            <p>Pesquisa</p>
                            <span class="front__text-hover1">
                                Redes sociais <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <div class="icon-wrapper">
                            <a>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="outer-div1">
                <div class="inner-div1">
                    <div class="front1">
                        <div class="front__bkg-photo1"></div>
                        <div class="front__face-photo5"></div>
                        <div class="front__text1">
                            <h3 class="front__text-header1">Barbara Calmon</h3>
                            <p>Pesquisa</p>
                            <span class="front__text-hover1">

                                Redes sociais <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="back1">
                        <div class="icon-wrapper">
                            <a href="https://www.linkedin.com/in/barbaracalmon/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
                                </svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <br />
    <br />
</div>

